<h1>Colaboradores</h1>

<%= link_to new_employee_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-plus"></span>
  Cadastrar Colaborador
<% end %>


<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Setor</th>
      <th>Nascimento</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <%- @employees.each do |employee| %>
      <%- if employee.sex == 'M' %>
        <tr style="background-color: #CCF">
      <%- else -%>
        <tr style="background-color: #FCC">
      <%- end -%>
        <td><%= employee.id %></td>
        <td><%= employee.name %></td>
        <td><%= employee.sector.name %></td>
        <td><%= ajusta_data(employee.birth_date) %></td>
        <td>
          <%= link_to employee_path(employee), class: 'btn btn-default btn-sm' do %>
            <span class="glyphicon glyphicon-user"></span>
          <% end %>
          <%= link_to edit_employee_path(employee), class: 'btn btn-default btn-sm' do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to employee_path(employee), method: :delete, data: { confirm: 'Está certo disto?' }, class: 'btn btn-default btn-sm' do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
    <%- end %>
  </tbody>

  <tfoot>
  </tfoot>
</table>
