<h1>Visualizar colaborador</h1>

<div class="form-group">
  <label>Nome</label>
  <div class="form-control-static"><%= @employee.name %></div>
</div>

<div class="form-group">
  <label>Sexo</label>
  <div class="form-control-static"><%= @employee.sex == 'M' ? 'Masculino' : 'Feminino' %></div>
</div>

<div class="form-group">
  <label>Data de Nascimento</label>
  <div class="form-control-static"><%= ajusta_data(@employee.birth_date) %></div>
</div>

<div class="form-group">
  <label>Setor</label>
  <div class="form-control-static"><%= @employee.sector.name %></div>
</div>

<fieldset>
  <legend>Contatos</legend>

  <%= render 'contacts/list', contacts: @employee.contacts %>
</fieldset>

<div class="btn-group" role="group">
  <%= link_to new_employee_contact_path(@employee), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Cadastrar Contato
  <% end %>

  <%= link_to employees_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Voltar
  <% end %>
</div>
